.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* PianoDarkTheme */

.PianoDarkTheme .ReactPiano__Key--accidental {
  background: #025d7d;
  border: 1px solid #888;
}
.PianoDarkTheme .ReactPiano__Key--natural {
  background: #013243;
  border: 1px solid #888;
  margin-right: 0;
}
.PianoDarkTheme .ReactPiano__Key--active.ReactPiano__Key--accidental {
  background: #0396ca;
}
.PianoDarkTheme .ReactPiano__Key--active.ReactPiano__Key--natural {
  background: #0396ca;
}
